/* You can add global styles to this file, and also import other style files */
@use "./app/styles/mixins";
// @use "./scss/mixins";

html,
body {
  font-family: "Roboto";
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

input {
  outline: none;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
