@import "~src/app/styles/mixins";

header.header-wrapper {
  background-color: #020202;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.login-info {
  color: #ffff;
  font-size: 21px;
  margin-right: 2rem;

  @include screen-xs {
    font-size: 16px;
  }
}

.logo {
  margin-left: 2rem;
}

@include screen-md {
  .home-wrapper {
    display: grid;
    grid-template-columns: 7% 93%;

    .grey-column {
      background: #F4F4F4;
    }
  }
}

.pokemons-list-infos {

  p.title {
    font-size: 34px;
    font-weight: 700;
    @include screen-xs {
      font-size: 27px;
    }
  }

  p.subtitle {
    font-size: 22px;
    font-weight: 400;
  }
}


.search-input {
  @include screen-xs {
    padding-bottom: 2rem;
  }
  input {
    width: 257px;
    height: 40px;
  }

  button {
    background-color: transparent;
    border: none;
    margin-left: -35px;

    svg-icon {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.dropdown-pageSize-exihibit {
  text-align: left;
  padding: 1rem 0;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.pokemons-list-infos {
  margin: 2rem 2rem 0 1rem;

  .pokemon-home-options {
    display: flex;
    @include screen-md {
      justify-content: space-between;
    }
    @include screen-xs {
      flex-direction: column;
      align-items: center;
    }
  }
}

@include screen-md {
  footer.footer-wrapper {
    height: 31px;
    background-color: #020202;
  }
}

.pokemon-data {
  @include screen-xs {
    margin: 1rem 0 0;
  }
  margin: 0 1rem;
}

.pokemon-icon {
  margin: 0 auto;
  max-width: 163px;
  border: 1px solid #565656;

  img {
    width: 100%;
    height: 100%;
  }

}

.pokemon-info {
  border-bottom: 1px solid #BDBDBD;
  padding: 1rem;
  @include screen-md {
    display: flex;
  }
}

.poke-description {
  margin-top: 2rem;
  text-align: justify;
    font-size: 13px;
    font-weight: 500;
}

p.poke-info {
  @include screen-xs {
    text-align: center;
    font-size: 22px;
    margin-bottom: 2px;
  }
  font-size: 16px;
  font-weight: 700;
}

.pagination-style {
  @include screen-md {
    justify-content: end;
  }
  @include screen-xs {
  }
  padding: 2rem;
  font-size: 14px;
  display: flex;
}

