@import "~src/app/styles/mixins";

header.header-wrapper {
  background-color: #020202;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.login-info {
  color: #ffff;
  font-size: 21px;
  margin-right: 2rem;

  @include screen-xs {
    font-size: 16px;
  }
}

.logo {
  margin-left: 2rem;
}

.home-wrapper {
  .pokemons-list-infos {

    p.title {
      font-size: 34px;
      font-weight: 700;
    }

    p.subtitle {
      font-size: 22px;
      font-weight: 400;
    }
  }


}

.search-input {
  input {
    width: 257px;
    height: 40px;
  }

  button {
    background-color: transparent;
    border: none;
    margin-left: -35px;

    svg-icon {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.dropdown-pageSize-exihibit {
  text-align: left;
  padding: 1rem 0;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
}

.home-wrapper {
  display: grid;
  grid-template-columns: 7% 93%;
}

.pokemons-list-infos {
  margin: 2rem 2rem 0 1rem;
}

.grey-column {
  background: #F4F4F4;
}

footer.footer-wrapper {
  height: 31px;
  background-color: #020202;
}

// border-top: 1px solid #BDBDBD;
// border-bottom: 1px solid #BDBDBD;
