<header class="header-wrapper">
  <div class="logo">
    <svg-icon src="assets/svgs/advise-logo.svg"></svg-icon>
  </div>
  <div class="login-info">
    <span>Olá, Felipe Rabelo</span>
    <svg-icon src="assets/svgs/polygon.svg"></svg-icon>
  </div>
</header>
<div class="home-wrapper">
  <div class="grey-column">
    a
  </div>
  <div class="pokemons-list-infos">
    <div class="d-flex justify-content-between">
      <div>
        <p class="title mb-0">Fase teste prático Front_end</p>
        <p class="subtitle">pokebusca</p>
      </div>
      <div class="search-input">
        <div>
          <input type="text" placeholder="Buscar" [formControl]="search">
          <button>
            <svg-icon src="assets/svgs/search.svg"></svg-icon>
          </button>
        </div>
      </div>

    </div>
    <div class="dropdown-pageSize-exihibit">
      <div *ngIf="page == 1">
        <span name="Alterar quantidade de items por página" class="text-black" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exibindo {{pageSize}} de 20 itens
        </span>
        <ul class="dropdown-menu dropdown-menu-right py-0">
          <li class="px-2 py-2 text-center" *ngIf="pageSize != 5" (click)="pageSize = 5;getAllPokemons()">5 items</li>
          <li class="px-2 py-2 text-center" *ngIf="pageSize != 10" (click)="pageSize = 10;getAllPokemons();">10 items
          </li>
          <li class="px-2 py-2 text-center" *ngIf="pageSize != 15" (click)="pageSize = 15;getAllPokemons();">15 items
          </li>
          <li class="px-2 py-2 text-center" *ngIf="pageSize != 20" (click)="pageSize = 20;getAllPokemons();">20 items
          </li>
        </ul>
      </div>
    </div>
    <div>
      <span>Características do pokemon dolor sit amet, consectetur adipiscing elit. In ultricies nunc at odio tempor
        tincidunt. Sed sit amet dolor velit. Donec convallis tellus ut porta molestie. Suspendisse condimentum et dui in
        aliquam.</span>
    </div>
  </div>
</div>
<footer class="footer-wrapper"></footer>
